@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
<link rel="stylesheet" href="~/css/style.css"/>

<div class="text-center">

    <div class="form-entrance">
        <h1 class="display-4">Вход в систему</h1>
        <form asp-action="Entrance" method="post">
            <p>
                <input name="login"
                       placeholder="Логин" />
            </p>
            <p>
                <input name="password" 
                       type="password"
                       placeholder="Пароль" />
            </p>
            <p class="error-message">
                @ViewData["Error"]
            </p>
            <p>
                <button>Войти</button>
            </p>
            
            
        </form>

       
    </div>
</div>
