<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="data" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\student\Desktop\FlowerDelivery\Logic\data\DatabaseFlower.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>