@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
}
@using MigrationDataBase.Records
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />


@model Dictionary<string, MigrationDataBase.Records.User>

<div>
    <table class="table table-striped">
        <tr>
            <th>Индитификатор</th>
            <th>Имя пользователя</th>
            <th>Фамилия</th>
            <th>Описание</th>
        </tr>
        @foreach(string key in Model.Keys)
        {
            <tr>
                <td>@key</td>
                <td>@Model[key].Name</td>
                <td>@Model[key].Surname</td>
                <td>@Model[key].Description</td>
            </tr>
        }
    </table>
</div>