@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
}
@using MigrationDataBase.Records;
@model User

<form asp-action="ListOfUser" method="post">
    <p>
        <label asp-for="Name">Имя</label>
        <input asp-for="Name" />
    </p>
    <p>
        <label asp-for="Surname">Фамилия</label>
        <input asp-for="Surname" />
    </p>
    <p>
        <label asp-for="Description">Описание</label>
        <input asp-for="Description"/>
    </p>
    <button>Создать пользователя</button>

</form>